@import '../../../scss/vars';


.wrapper {
    height: 47.5%;
    border-top: 1px solid $lightgrey-color;
    padding: 40px;
}

.inner {
    display: flex;
    justify-content: space-between;
    line-height: 34px;
}