.wrapper {
    display: flex;
    justify-content: space-around;
    align-items: stretch;

    margin-bottom: 5rem;
}

.image {
    display: flex;
    align-items: end;
    width: 100px;
    height: 75px;
}

.image img {
    width: 90px;
    height: 50px;
}

.block {
    display: flex;
    flex-direction: column;
    margin-left: 1.4rem;
}

.name {
    margin-bottom: 1rem;
}

.counter {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.name {
    width: 200px;
}

.counter {
    display: flex;
}