.wrapper {
    max-width: 1200px;
    width: 100%;

    display: grid;
    justify-content: center;
    grid-template-columns: 250px 250px 250px;
    grid-column-gap: 6%;
    grid-row-gap: 7.5%;

    margin-left: 1.1rem;
    padding: 0 0.5rem;
    margin-top: 4.3rem;
}

@media (max-width: 1400px) {
    .wrapper {
        grid-column-gap: 5%;
    }
}

@media (max-width: 1300px) {
    .wrapper {
        grid-column-gap: 2.5%;
    }
}

@media (max-width: 1200px) {
    .wrapper {
        grid-template-columns: 18rem 18rem;
        grid-column-gap: 8.5%;
        grid-row-gap: 5.5%;
        margin-left: 0;

    }
}

@media (max-width: 990px) {
    .wrapper {
        gap: 5%;
        padding: 0 0.7rem;
    }
}

@media (max-width: 900px) {
    .wrapper {
        gap: 1%;
    }
}

@media (max-width: 768px) {
    .wrapper {
        grid-column-gap: 8.5%;
        grid-row-gap: 5.5%;
    }
}

@media (max-width: 550px) {
    .wrapper {
        grid-template-columns: 18rem;
        grid-row-gap: 2.8%;
    }
}